@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.isf-card {
    width: 100%;
    margin: 0 auto;
    height: 100%
}

.isf-card-image {
    max-width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 10px;
    margin: 0 auto;
}

.isf-container-height {
    min-height: 800px;
}

.isf-card-body{
    border-top: 1px solid #dfdfdf;
}